
@model Web.Models.Data.Member

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section UpdateAvatar{
    <script>
        $('#btnUpload').off('click').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#urlAvatarAdmin').val(url);
                $('.imgAvatarAdmin').attr('src', url)
            };
            finder.popup();
        });
        $('.imgAvatarAdmin').attr('src', $('#urlAvatarAdmin').val())

        $('#btnSave').off('click').on('click', function () {
            alert("Save Success!!");
        });
    </script>
}

<h3 class="m-0 font-weight-bold text-primary col-md-12">Infomation</h3>
<hr />
<div>
    @using (Html.BeginForm("Edit", "InfoAdmin"))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="row form-group">
                    <div class="col-sm-12 col-md-5">
                        <img style="border-radius: 100%; border-style: solid; margin-left: 100px; margin-top:50px; width:50%; height:50%" class="imgAvatarAdmin" />
                        <input type="button" id="btnUpload" value="Chọn avatar" style="margin-left:215px;margin-top:20px" />
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IDCard, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IDCard, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IDCard, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" , @id= "urlAvatarAdmin",@style="display:none"}
                        })
                                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" id="btnSave" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
