@model Web.Models.ViewModels.ProductVM
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/WarehouseStaff/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sản phẩm</h4>
            <a href="#" class="btn btn-info" style="float:left" onclick="Add(0)">Thêm sản phẩm mới</a>
            <div class="col-lg-2 col-md-6" style="float:left">
                <select class="form-control" id="selectedCat">
                    <option value="0" selected>Danh mục</option>
                    @foreach (var item in Model.productTypes)
                    {
                        <option value="@item.IDProductType">@item.NameProductType</option>
                    }
                </select>
            </div>
            <table style="margin-top: 70px;" class="table table-striped">
                <thead>
                    <tr>
                        <th> Tên sản phẩm</th>
                        <th> Đơn giá</th>
                        <th> Ảnh </th>
                        <th> Danh mục</th>
                        <th> Kho hàng</th>
                        <th> Nhà cung cấp</th>
                        <th> Số lượng còn</th>
                        <th> Thao tác (Sửa)</th>
                        <th> Thao tác (Xóa)</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                </tbody>
            </table>
            <div id="paged" class="pagination"></div>
        </div>
    </div>
    @*Create A Popup Modal With Registration Form For Add Or Edit Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="ModalTitle"></h3>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" id="form" enctype="multipart/form-data">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.IDProduct, new { @id = "IDProduct" })
                            @Html.HiddenFor(m => m.DateUpdate, new { @id = "DateUpdate" })
                            @Html.HiddenFor(m => m.New, new { @id = "New" })
                            @Html.HiddenFor(m => m.SalesedQuantity, new { @id = "SalesedQuantity" })
                            @Html.HiddenFor(m => m.Deleted, new { @id = "Deleted" })

                            <div class="form-group">
                                <label for="NameProduct">Tên sản phẩm</label>
                                @Html.TextBoxFor(m => m.NameProduct, new { @id = "NameProduct", @class = "form-control", @placeholder = "Tên sản phẩm" })
                            </div>
                            <div class="form-group">
                                <label for="Price">Đơn giá</label>
                                @Html.TextBoxFor(m => m.Price, new { @id = "Price", @class = "form-control", @placeholder = "Đơn giá" })
                            </div>
                            <div class="form-group">
                                <label for="Introduce">Giới thiệu</label>
                                @Html.TextBoxFor(m => m.Introduce, new { @id = "Introduce", @class = "form-control", @placeholder = "Giới thiệu" })
                            </div>
                            <div class="form-group">
                                <label for="Description">Mô tả</label>
                                @Html.TextAreaFor(m => m.Description, 6, 125, new { @id = "Description", style = "width: 100%; max-width: 100%;", @class = "form-control", @placeholder = "Mô tả" })
                            </div>
                            <div class="form-group">
                                <label for="Image0">Hình ảnh</label>
                                @Html.TextBoxFor(m => m.Image0, new { @id = "Image0", @class = "form-control", @hidden = "hidden" })
                                @Html.TextBoxFor(m => m.Image1, new { @id = "Image1", @class = "form-control", @hidden = "hidden" })
                                @Html.TextBoxFor(m => m.Image2, new { @id = "Image2", @class = "form-control", @hidden = "hidden" })
                                @Html.TextBoxFor(m => m.Image3, new { @id = "Image3", @class = "form-control", @hidden = "hidden" })
                                <input type="file" class="form-control" id="file" multiple value="Chọn tệp ảnh" />
                            </div>
                            <div class="form-group">
                                <label for="DropDwnProType"> Loại sản phẩm</label>
                                @Html.DropDownListFor(m => m.IDProductType, ViewBag.ProductType as SelectList, null, new { @id = "DropDwnProType", @class = "form-control" })
                            </div>
                                <div class="form-group">
                                    <label for="DropDwnPro"> Nhà sản xuất</label>
                                    @Html.DropDownListFor(m => m.IDProducer, ViewBag.Producer as SelectList, null, new { @id = "DropDwnPro", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="DropDwnWar"> Kho hàng</label>
                                    @Html.DropDownListFor(m => m.IDWareHouse, ViewBag.WareHouse as SelectList, null, new { @id = "DropDwnWar", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="DropDwnSup">Tên nhà cung cấp</label>
                                    @Html.DropDownListFor(m => m.IDSupplier, ViewBag.Supplier as SelectList, null, new { @id = "DropDwnSup", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="RemainingQuantity">Số lượng còn</label>
                                    @Html.TextBoxFor(m => m.RemainingQuantity, new { @id = "RemainingQuantity", @class = "form-control", @placeholder = "Số lượng còn" })
                                </div>
                            
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-gradient-primary mr-2" id="SaveRecord">Lưu</button>
                    <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Xóa sản phẩm</h3>
                </div>
                <div class="modal-body">
                    <h4>Bạn có muốn xóa sản phẩm này không?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-light" data-dismiss="modal" id="r">Hủy</a>
                    <a href="#" class="btn btn-gradient-primary mr-2" onclick="ConfirmDelete()">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Initially load pagenumber=1
        GetPageData(1);
    });
    $('#selectedCat').change(function () {
        GetPageData(1, $(this).val());
    });

    function GetPageData(pageNum, category) {
        //After every trigger remove previous data and paging
        $("#tblData").empty();
        $("#paged").empty();
        //$("#selectedCat").val("0");
        $.getJSON("/WarehouseStaff/Product/GetPaggedData", { pageNumber: pageNum, category: category }, function (response) {
            var rowData = "";
            for (var i = 0; i < response.Data.length; i++) {
                rowData = rowData +
                    '<tr class="row_' + response.Data[i].IDProduct + '">' +
                    '<td>' + response.Data[i].NameProduct +
                    '</td><td>' + response.Data[i].Price +
                    '</td><td>' + "<img style='width: 150px; height: 150px;' src='/App_Img/product/" + response.Data[i].Image0 + "'/>" +
                    '</td><td>' + response.Data[i].NameProductType +
                    '</td><td>' + response.Data[i].Address +
                    '</td><td>' + response.Data[i].NameSupplier +
                    '</td><td>' + response.Data[i].RemainingQuantity +
                    '</td><td>' + "<a href='#' class='btn btn-warning' onclick='EditRecord(" + response.Data[i].IDProduct + ")' ><span class='mdi mdi-table-edit'></span></a>" +
                    '</td><td>' + "<a href='#' class='btn btn-danger' onclick='DeleteRecord(" + response.Data[i].IDProduct + ")' ><span class='mdi mdi-delete'></span></a>" +

                    '</td></tr>';
            }
            $("#tblData").append(rowData);
            PaggingTemplate(response.TotalPages, response.CurrentPage);
        });
    }
    //This is paging temlpate ,you should just copy paste
    function PaggingTemplate(totalPage, currentPage) {
        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var Category = $("#selectedCat").val();
        var PageNumberArray = Array();


        var countIncr = 1;
        for (var i = currentPage; i <= totalPage; i++) {
            PageNumberArray[0] = currentPage;
            if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                PageNumberArray[countIncr] = i + 1;
            }
            countIncr++;
        };
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        template = "<hr/><p>" + CurrentPage + " trong số " + TotalPages + " trang</p>"
        template = template + '<a class="page-link" href="#" onclick="GetPageData(' + FirstPage +','+ Category + ')">&laquo;</a>' +
            '<a class="page-link" href="#" onclick="GetPageData(' + BackwardOne +','+ Category + ')">Trước</a>';

        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            numberingLoop = numberingLoop +
                '<a class="page-link" onclick="GetPageData(' + PageNumberArray[i] +','+ Category + ')" href="#">' + PageNumberArray[i] + '</a>'
        }
        template = template + numberingLoop +
            '<a class="page-link" href="#" onclick="GetPageData(' + ForwardOne +','+ Category + ')" >Tiếp</a>' +
            '<a class="page-link" href="#" onclick="GetPageData(' + LastPage +','+ Category + ')">&raquo;</a>';

        $("#paged").append(template);
    }

    $("#file").change(function () {
        if (window.FormData !== undefined) {
            var files = $("#file").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("file", files[i]);
            }

            $.ajax({
                type: "POST",
                url: "/WarehouseStaff/Product/UploadImg",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (url) {
                    $('#Image0').val(url[0]);
                    $('#Image1').val(url[1]);
                    $('#Image2').val(url[2]);
                    $('#Image3').val(url[3]);
                },
                error: function (err) {
                    bootbox.alert('Có lỗi khi Upload:' + err.statusText);
                }
            })
        }
    })
    //Show The Popup Modal For Add

    function Add(IDProduct) {
        $("#form")[0].reset();
        $("#IDProduct").val(0);
        $("#ModalTitle").html("Thêm sản phẩm mới");
        $("#MyModal").modal();
        $('#NameProduct').css('border-color', 'lightgrey');
        $('#Price').css('border-color', 'lightgrey');
        $('#YearManufacture').css('border-color', 'lightgrey');
        $('#Introduce').css('border-color', 'lightgrey');
        $('#Description').css('border-color', 'lightgrey');
        $('#SalesedQuantity').css('border-color', 'lightgrey');
        $('#RemainingQuantity').css('border-color', 'lightgrey');
        $('#file').css('border-color', 'lightgrey');
    }

    //Show The Popup Modal For Edit Record
    function EditRecord(IDProduct) {
        var url = "/Product/GetById?Id=" + IDProduct;
        $("#ModalTitle").html("Sửa sản phẩm");
        $("#MyModal").modal();

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#IDProduct").val(obj.IDProduct);
                $("#NameProduct").val(obj.NameProduct);
                $("#Price").val(obj.Price);
                $("#YearManufacture").val(obj.YearManufacture);
                $("#Introduce").val(obj.Introduce);
                $("#Description").val(obj.Description);
                $("#Image0").val(obj.Image0);
                $("#Image1").val(obj.Image1);
                $("#Image2").val(obj.Image2);
                $("#Image3").val(obj.Image3);
                $("#SalesedQuantity").val(obj.SalesedQuantity);
                $("#New").val(obj.New);
                $("#Deleted").val(obj.Deleted);
                $("#RemainingQuantity").val(obj.RemainingQuantity);

                $("#DropDwnPro").val(obj.IDProducer);
                $("#DropDwnProType").val(obj.IDProductType);
                $("#DropDwnWar").val(obj.IDWareHouse);
                $("#DropDwnSup").val(obj.IDSupplier);
            }
        })
    }

    function validate() {
        var isValid = true;
        if ($('#NameProduct').val().trim() == "") {
            $('#NameProduct').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#NameProduct').css('border-color', 'lightgrey');
        }
        if ($('#Price').val().trim() == "") {
            $('#Price').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Price').css('border-color', 'lightgrey');
        }
        if ($('#YearManufacture').val().trim() == "") {
            $('#YearManufacture').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#YearManufacture').css('border-color', 'lightgrey');
        }
        if ($('#Introduce').val().trim() == "") {
            $('#Introduce').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Introduce').css('border-color', 'lightgrey');
        }
        if ($('#Description').val().trim() == "") {
            $('#Description').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Description').css('border-color', 'lightgrey');
        }
        if ($('#SalesedQuantity').val().trim() == "") {
            $('#SalesedQuantity').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#SalesedQuantity').css('border-color', 'lightgrey');
        }
        if ($('#RemainingQuantity').val().trim() == "") {
            $('#RemainingQuantity').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#RemainingQuantity').css('border-color', 'lightgrey');
        }
        return isValid;
    }

    $("#SaveRecord").click(function () {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/WarehouseStaff/Product/SaveDataInDatabase",
            data: data,
            success: function (result) {
                window.location.href = "/WarehouseStaff/Product";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteRecord = function (Id) {
        $("#IDProduct").val(Id);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var IDProduct = $("#IDProduct").val();
        $.ajax({
            type: "POST",
            url: "/WarehouseStaff/Product/DeleteRecord?Id=" + IDProduct,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + IDProduct).remove();
            }
        })
    }

</script>

