@model Web.Models.Data.Member
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Script-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Login/Register</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    @if (Session["Account"] == null)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="~/Resources/Client/img/login.jpg" alt="">
                        <div class="hover">
                            <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a class="primary-btn" onclick="Add()">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @Html.Action("_Login", "Account")
                </div>
            </div>
        </div>
    }
    else
    {
        Web.Models.Data.Member khachHang = (Web.Models.Data.Member)Session["Account"];
        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                           aria-selected="false">Bảng điều khiển</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                           aria-selected="false">Đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                           aria-selected="false">
                            Thông tin tài
                            khoản
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="review-tab" data-toggle="tab" href="@Url.Action("LogOut","Account")" role="tab" aria-controls="review"
                           aria-selected="false">
                            Đăng
                            xuất
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <h4 style="color: darkred">@ViewBag.Notification </h4>
                        </div>
                        <div>
                            <p>
                                Xin chào <strong>@khachHang.FullName</strong> (không phải <strong>@khachHang.FullName</strong>?
                                <a href="@Url.Action("LogOut","Account")"> Đăng xuất </a>)
                            </p>

                            <p>
                                Từ trang quản lý tài khoản bạn có thể xem
                                <a href="">đơn hàng mới</a> và
                                <a href=""> cập nhật thông tin tài khoản </a>.
                            </p>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        @Html.Action("_Update", "Account")
                    </div>
                    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">

                    </div>
                </div>

            </div>
        </section>
    }


    @*Create A Popup Modal With Registration Form For Add*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4> Đăng ký</h4>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.IDMember, new { @id = "IDMember" })
                            <div class="form-group">
                                <label for="Ten">Họ và tên</label>
                                @Html.TextBoxFor(m => m.FullName, new { @id = "FullName", @class = "form-control", @placeholder = "Họ và tên" })
                            </div>
                            <div class="form-group">
                                <label for="TenDangNhap">Tên đăng nhập</label>
                                @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "Tên đăng nhập" })
                            </div>
                            <div class="form-group">
                                <label for="MatKhau">Mật khẩu</label>
                                @Html.PasswordFor(m => m.PassWord, new { @id = "PassWord", @class = "form-control", @placeholder = "Mật khẩu" })
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-gradient-primary mr-2" id="Create">Đăng ký</button>
                    <button class="btn btn-gradient-light" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Login Box Area =================-->

<script>
    //Show The Popup Modal For Add

    function Add() {
        $("#form")[0].reset();
        $("#MyModal").modal();
    }

    $("#Create").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Account/Register",
            data: data,
            success: function (result) {
                window.location.href = "/Account/Index";
                $("#MyModal").modal("hide");
            }
        })
    })
</script>

