@model Web.Models.ViewModels.CheckoutVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Cart">Giỏ hàng</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                @if (Session["GioHang"] != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tạm tính</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.carts)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img width="150" src=@Url.Content("~/App_Img/product/" + @item.Image0) alt="">
                                            </div>
                                            <div class="media-body">
                                                <p>@item.NameProduct</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", @item.Price) ₫</h5>
                                    </td>

                                    <td>

                                        <div class="product_count">
                                            <input type="text" disabled ="disabled" name="qty" id="sst" maxlength="12" value="@item.Amount" title="Quantity:" class="input-text qty">
                                        </div>

                                    </td>
                                    <td>
                                        <h5>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", @item.TotalMoney)&nbsp;₫</h5>
                                    </td>

                                </tr>
                            }
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <h5>
                                        Tổng tiền
                                    </h5>
                                </td>
                                <td>
                                    <h5>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", ViewBag.Total) ₫</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/Shop">Tiếp tục mua hàng</a>
                                        <a class="primary-btn" href="/Checkout">Tiến hành thanh toán</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <div>
                        <h4>Chưa có sản phẩm nào trong giỏ hàng</h4>
                        <a class="gray_btn" href="/Shop">Quay trở lại cửa hàng</a>

                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
