@model Web.Models.ViewModels.CommentVM

<div class="col-lg-6">
    <div class="review_box">
        <h4>Post a comment</h4>
        @using (Html.BeginForm("Comments", "Shop", FormMethod.Post, new { @class = "row contact_form", @novalidate = "novalidate" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" });
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.IDProduct, new { @class = "form-control", @hidden = "hidden" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @hidden = "hidden" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.IDMember, new { @class = "form-control", @hidden = "hidden" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                   <h5>@Model.FullName</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @rows = "1", @placeholder = "Message" })
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
            </div>
        }
    </div>
</div>
