@model Web.Models.ViewModels.CheckoutVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Checkout">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        @if (Session["Account"] == null)
        {
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Returning Customer? <a href="#">Click here to login</a></h2>
                </div>
                <p>
                    If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.
                </p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name">
                        <span class="placeholder" data-placeholder="Username or Email"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="placeholder" data-placeholder="Password"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">login</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Remember me</label>
                        </div>
                        <a class="lost_pass" href="#">Lost your password?</a>
                    </div>
                </form>
            </div>
        }
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Thông tin thanh toán</h3>
                    @if (Session["Account"] != null)
                    {
                        @Html.Action("_BillDetails", "Checkout")
                    }
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Đơn hàng của bạn</h2>
                        @if (Model.carts != null)
                        {
                            <ul class="list">
                                <li><a href="#">Sản phẩm <span>Tạm tính</span></a></li>
                                @foreach (var item in Model.carts)
                                {
                                    <li><a href="#">@item.NameProduct <span class="middle">x @item.Amount</span> <span class="last">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", @item.TotalMoney) ₫</span></a></li>
                                }
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tổng tiền <span>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", ViewBag.Total) ₫</span></a></li>
                            </ul>
                            if (Session["Account"] != null)
                            {
                                Web.Models.Data.Member khachHang = (Web.Models.Data.Member)Session["Account"];
                                <a class="primary-btn" href=@Url.Action("Checkout", "Checkout", new {id = khachHang.IDMember })>Đặt hàng</a>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
