@using Web.Models.Data
@model Order
@{
    ViewBag.Title = "BrowseOrder";
    Layout = "~/Areas/SalesMan/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br /><br />
      <div style="margin-top:-35px;">
          @using (Html.BeginForm())
          {
              //ChiTietDonHang

          <div class="table table-bordered" style="background:white; zoom:1.5;">
              <h2 style="margin-left:10px;margin-top:80px; font-style: oblique!important;text-align:center">Thông tin chi tiết đơn hàng của khách hàng <font color="red">@Model.Customer.NameCus</font></h2>
              @{ IEnumerable<DetailOrder> lstChiTietDH = (IEnumerable<DetailOrder>)ViewBag.ListChiTietDH;}
              <h4 style="margin-left:10px;margin-top:80px; font-style: oblique;">Tên khách hàng: <b style="color:red;margin-left:10px;">@Model.Customer.NameCus</b></h4>
              <br />
              <h4 style="margin-left:10px;font-style: Verdana">Số điện thoại khách hàng: <b style="color:red">@Model.Customer.PhoneCus</b></h4>
              <br />
              <h4 style="margin-left:10px;font-style: Verdana">Địa chỉ giao hàng: <b style="color:red">@Model.Customer.AddressCus @Html.Hidden("MaDDH", Model.IDOrder)</b></h4>
              <br />
              <h4 style="margin-left:10px;font-style: Verdana"><b style="color:red;">Ngày đặt: @Model.OrderedDate.Value.ToString("dd/MM/yyy")</b></h4>
              <br />
              @{
                  switch (Model.Status)
                  {
                      case 0:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Đã hủy</b></h4>
                          break;
                      case 1:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Chưa xác nhận</b></h4>
                          break;
                      case 2:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Chờ lấy hàng</b></h4>
                          break;
                      case 3:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Đang giao</b></h4>
                          break;
                      case 4:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Đã giao</b></h4>
                          break;
                      case 5:
                          <h4 style="margin-left:10px;font-style: Verdana">Trạng thái đơn hàng: <b style="color:red">Trả hàng/Hoàn tiền</b></h4>
                          break;






                      default:
                          break;
                  }


              }



              <table class="table table-bordered" style="border-color:red;" id="table">





                  @*Thông tin đơn hàng*@
                  @*<tr>
                <td>Trạng thái đơn hàng</td>
                @{
                    if (Model.Status == 1)
                    {
                        <td>
                            Đã giao:@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "btn" } })
                        </td>

                    }
                    else
                    {
                        <td>Trạng thái giao hàng: Chưa giao</td>
                    }
                }
            </tr>*@
                  @*Phần chi tiết đơn hàng*@
                  <tr>
                      <td></td>
                      <td><b>Sản phẩm</b></td>
                      <td><b>Hình ảnh</b></td>
                      <td><b>Số lượng đặt</b></td>
                      <td><b>Đơn giá đặt</b></td>
                  </tr>

                  @{
                      int i = 1;
                  }
                  @foreach (var item in lstChiTietDH)
                  {
                      <tr>
                          <td>@i</td>
                          <td>@item.Product.NameProduct</td>
                          <td><img width="300" height="300" src="@Url.Content("~/App_Img/product/" + @item.Product.Image0)" /></td>
                          <td>@item.Amount</td>
                          <td>@item.Price</td>
                      </tr>
                      { i++; }
                  }

                  <tr>
                      <td>Tổng số lượng: @Model.DetailOrders.Sum(n => n.Amount)</td>
                      <td>Tổng tiền: @Model.DetailOrders.Sum(n => n.Price * n.Amount).Value.ToString("#,##") đồng</td>
                  </tr>
              </table>
              <br /><br />
              <div style="margin-bottom:30px;margin-left:500px;" class="col-md-10">
                  <input type="submit" value="In đơn hàng" id="btnInDonHang" class="btn btn-primary" />
                  <input type="submit" value="Lưu đơn hàng" id="btnLuuDonHang" class="btn btn-success" />
              </div>
          </div>
          }
      </div>
<script>

$("#btnInDonHang").click(function () {
        var content = "<table>"+ $("#table").html() +"</table>";
        InDonHang(content);
});
    $("#IDGiaoHang").click(function () {
        $('#idi').text("hhaahah");
    });

    //Phương thức in
    function InDonHang(content)
    {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }</script>

