@model Web.Models.ViewModels.CategoryViewModel

<!--Script-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
    <ul class="nav navbar-nav menu_nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" href="/Shop">Cửa hàng</a></li>
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Danh mục</a>
            <ul class="dropdown-menu">
                @foreach (var item in Model.category)
                {
                    <li class="nav-item"><a class="nav-link" href="#">@item.NameProductType</a></li>
                }
            </ul>
        </li>


        @if (Session["Account"] != null)
        {
           Web.Models.Data.Member khachHang = (Web.Models.Data.Member)Session["Account"];

            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Cart")">Xem đơn đặt hàng</a></li>

            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"># @khachHang.UserName</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="/Account">Tài khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("LogOut","Account")">Đăng xuất</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Tài khoản</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Register","Account")">Tạo tài khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Account">Đăng nhập</a> </li>
                </ul>
            </li>
        }
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item submenu dropdown">
            @Html.Action("CartPartial", "Shop")
        </li>
        <li class="nav-item">
            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
        </li>
    </ul>
</div>
